.form {
    --icon-width: 30px;
    --icon-right: 10px;
    width: 100%;
}

.form > form {
    position: relative;
}

@media (max-width: 480px) {
    .form {
        width: 100%;
    }
}

.searchButton {
    position: absolute;
    width: var(--icon-width);
    right: var(--icon-right);
    top: 50%;
    transform: translateY(-50%);
    display: none;
}

.searchButton:hover {
    fill: var(--dark-blue);
}

@media (min-width: 768px) {
    .searchButton {
        display: block;
    }
}
