body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

address {
    font-style: normal;
}

.resetButton {
    padding: 0;
    appearance: none;
    border: 0;
    background: transparent;
    cursor: pointer;
}

/* clears the 'X' from Internet Explorer */
input[type="search"]::-ms-clear,
input[type="search"]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

button > svg > rect {
    fill: black
}

:root {
    --mid-blue: #4c89ba;
    --dark-blue: #296ba7;
    --light-blue: #86b0d1;
    --cat-blue: #4498c4;
    --cat-blue-proj: #6bd6f2;
    --cat-orange: #e58500;
    --cat-orange-proj: #f9c514;
    --cat-green: #61af1d;
    --cat-green-proj: #99e728;

    --nh-accent-color: #777;
    --nh-blue: #3366ff;
    --copy-line-height: 1.6;
    --header-height: 84px;
    --page-gutter: 20px;
    --h1-size: 1.5rem;
    --h1-mb: 0.6em;
}

.leaflet-container p {
    margin: 0;
}

.leaflet-container p a {
    display: block;
    font-size: 15px;
    text-decoration: none;
    color: #000;
}

.leaflet-popup-content {
    margin: 0 !important;
}

.leaflet-popup-tip {
    background-color: #000 !important;
}

.leaflet-popup-content-wrapper {
    padding: 0;
}

a:hover {
    color: var(--dark-blue);
}

@media screen and (min-width: 768px) {
    :root {
        --h1-size: 1.75rem;
    }
}

h1 {
    font-size: var(--h1-size);
}

.leaflet-container {
    height: 100%;
    width: 100%;
}

.leaflet-pane.leaflet-tile-pane {
    filter: grayscale(1);
}

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

.leaflet-popup {
    background: #fff;
    min-width: 300px;
    align-items: center;
    border-radius: 0 !important;
    box-shadow: none !important;
}

.leaflet-popup * {
    border-radius: 0 !important;
}

.leaflet-popup a {
    width: 100%;
}

.leaflet-popup-content, .leaflet-popup-content-wrapper {
    width: auto !important;
}

.leaflet-popup-close-button {
    width: 50px !important;
    height: 50px !important;
    font: 30px / 40px Tahoma, Verdana, sans-serif !important;
}
